

* { margin: 0;
  padding: 0;

}

.container{
background: linear-gradient(#850c62,#f80759);
width: 100%;
min-height: 100vh;
display: flex;
justify-content: center;
align-items: center;
  
}
.app-wrapper{
background-color:white;
min-width: 350px;
min-height: 650px;
padding: 30px;
box-sizing: border-box;
border-radius: 5px;
}
.title{
color: #f80759;
text-align: 80px 0px 40px 0px;
}

.name,
.email,
.password{
  margin: 40px;
  color: #969292;
  font-size: 16px;

}

.password{
  margin-bottom: 40px;
}

.input{
height: 32px;
font-size: 20px;
outline: none;
width: 100%;
border-top-style: none;
border-left-style: none;
border-right-style: none;
border-bottom-style: 2px solid black;
margin-bottom: 10px;
}


.submit {
  display: flex;
  text-transform: uppercase;
font-size: 20px;
border-radius: 25px;
color: white;
padding: 20px 60px;
background: linear-gradient(to right ,#ab1dcf, #f80759);
margin: auto;
outline: none;
border:none;
cursor:pointer;
transition: all 0.1s;
box-shadow: rgba(0, 0,0 0.3)  0px 19px 38px, 
rgba(0, 0,0 0.22) 0px 15px 12px; }

button:active{
transform: translateY(2px);

}

#hh{color: #969292;
margin: 20px;
padding-left:60px;

}




